# Iterative Statements
# LOOPS

Loop are used to execute a block of code repeatedly.

## for loop

The for loop iterables over an iterable object.

<b>Use of loop-</b><br>
1.For loops are used when you have a block of code which you want to repeat a <b>fixed number of time.</b> <br>
2.For loops are also used to perform the <b>same set of operations for each item in an iterable.</b><br>
Thus, for loops reduce the code complexity and save time.<br>
<b>Iterable- str,list,tuple,set,dict,range</b>

In [1]:
lst1=[1,2,3,4] # lst1 is iterate kar raha h
for i in lst1:
    print(i+1)

2
3
4
5

In [2]:
x=[1,2,3,4]
i=x[0]
print(i+1)
i=x[1]
print(i+1)
i=x[2]
print(i+1)
i=x[3]
print(i+1)

2
3
4
5

In [3]:
lst1=[1,2,3,4] # lst me add 1 kar raha h with help of loop
for i in lst1:
    print(i+1)
    print("loop are easy")
print("This is a list")

2
loop are easy
3
loop are easy
4
loop are easy
5
loop are easy
This is a list

In [4]:
lst1=[1,2,3,4]
for i in lst1:
    print(i+1)
    print("loop are easy")
print("loop 1 end!") # if we take print without taking tab then it will terminate the loop

lst2 = [5,6] # here a new loop starts
for x in lst2:
    print(x+2)
    print("This is second loop")
print("loop 2 ends!")

2
loop are easy
3
loop are easy
4
loop are easy
5
loop are easy
loop 1 end!
7
This is second loop
8
This is second loop
loop 2 ends!

In [5]:
a=[1,2,3,4]
a[0]=a[0]+1
a[1]=a[1]+1
a[2]=a[2]+1
a[3]=a[3]+1
print(a)

[2, 3, 4, 5]

In [6]:
a=[1,2,3,4]
x=0
a[x]=a[x]+1
x=x+1
a[x]=a[x]+1
x=x+1
a[x]=a[x]+1
x=x+1
a[x]=a[x]+1
print(a)

[2, 3, 4, 5]

In [7]:
a=[1,2,3,4]
y=[]
for i in a:
    x=i+1
    y.append(x) # here we append data in empty list
print(y)

[2, 3, 4, 5]

In [1]:
a=[1,2,3,4]
for i in range(4):
    a[i]=a[i]+1 
print(a)

[2, 3, 4, 5]

In [2]:
a

[2, 3, 4, 5]

In [3]:
a=[1,2,3,4]
for i in [0,1,2,3]:
    a[i]=a[i]+1 
print(a)

[2, 3, 4, 5]

In [4]:
list(range(1,8,2) )

[1, 3, 5, 7]

In [5]:
a=[]
for i in range(101):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [6]:
a=[1,-2,3,2,0,-2,4,-4,0] # here we checking positive , negative and zero
for i in a:
    if i>0:
        print("positive")
    elif i==0:
        print("zero")
    else:
        print("negative")

positive
negative
positive
positive
zero
negative
positive
negative
zero

In [10]:
a=input()
for i in a:
    a.replace("a","e")
    print(a)

 america

america
america
america
america
america
america
america

In [11]:
a=[10,11,0,"fgfgfh",-12,198,-72,"ghk"]
for x in a:
    if type(x) is int or type(x) is float:
        if x<0:
            print(f"{x} negative")
        elif x>0:
            print(f"{x} positive")
        else:
            print(f"{x} zero")
    else:
        print("this is a string")

10 positive
11 positive
0 zero
this is a string
-12 negative
198 positive
-72 negative
this is a string

In [12]:
for x in range(101): # checking number is even or odd
    if x%2==0:
        print(f"{x} even")
    else:
        print(f"{x} odd")

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd
32 even
33 odd
34 even
35 odd
36 even
37 odd
38 even
39 odd
40 even
41 odd
42 even
43 odd
44 even
45 odd
46 even
47 odd
48 even
49 odd
50 even
51 odd
52 even
53 odd
54 even
55 odd
56 even
57 odd
58 even
59 odd
60 even
61 odd
62 even
63 odd
64 even
65 odd
66 even
67 odd
68 even
69 odd
70 even
71 odd
72 even
73 odd
74 even
75 odd
76 even
77 odd
78 even
79 odd
80 even
81 odd
82 even
83 odd
84 even
85 odd
86 even
87 odd
88 even
89 odd
90 even
91 odd
92 even
93 odd
94 even
95 odd
96 even
97 odd
98 even
99 odd
100 even

In [13]:
a=int(input("enter start point range:"))
b=int(input("enter end point range:"))
for x in range(a,b): # here we take range from user to check whether the number is even or odd
    if x%2==0:
        print(f"{x} even")
    else:
        print(f"{x} odd")

enter start point range: 0
enter end point range: 10

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd

In [14]:
x=[]
y=[]
for a in range(101): #here we take two empty list to add all even and odd number seperatily and add them seperatily using sum function
    if a%2==0:
        x.append(a)
        
    else:
        y.append(a)
        
print("even:",x)
print("odd:",y)
print(sum(x))
print(sum(y))

even: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
odd: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
2550
2500

In [16]:
x=input()
a=input()
b=input()
x.replace(a,b)

 america
 a
 e

'emerice'

In [17]:
s=0
for a in range(101): # here we add even number without using sum function
    if a%2==0:
        s=s+a
print(s)

2550

In [18]:
y=0
z=0
for a in range(101): # here we add even and odd number without using sum function
    if a%2==0:
        y=y+a
    else:
        z=z+a

print(y)
print(z)

2550
2500

In [19]:
for i in range(101): # here we print hello world 100times
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world
7 hello world
8 hello world
9 hello world
10 hello world
11 hello world
12 hello world
13 hello world
14 hello world
15 hello world
16 hello world
17 hello world
18 hello world
19 hello world
20 hello world
21 hello world
22 hello world
23 hello world
24 hello world
25 hello world
26 hello world
27 hello world
28 hello world
29 hello world
30 hello world
31 hello world
32 hello world
33 hello world
34 hello world
35 hello world
36 hello world
37 hello world
38 hello world
39 hello world
40 hello world
41 hello world
42 hello world
43 hello world
44 hello world
45 hello world
46 hello world
47 hello world
48 hello world
49 hello world
50 hello world
51 hello world
52 hello world
53 hello world
54 hello world
55 hello world
56 hello world
57 hello world
58 hello world
59 hello world
60 hello world
61 hello world
62 hello world
63 hello world
64 hello world
65 hello world
66 hello world
67 hello world
68 hello world
69 hello world
70 hello world
71 hello world
72 hello world
73 hello world
74 hello world
75 hello world
76 hello world
77 hello world
78 hello world
79 hello world
80 hello world
81 hello world
82 hello world
83 hello world
84 hello world
85 hello world
86 hello world
87 hello world
88 hello world
89 hello world
90 hello world
91 hello world
92 hello world
93 hello world
94 hello world
95 hello world
96 hello world
97 hello world
98 hello world
99 hello world
100 hello world

In [20]:
a="hello world"
for i in a:
    print(i,a)

h hello world
e hello world
l hello world
l hello world
o hello world
  hello world
w hello world
o hello world
r hello world
l hello world
d hello world

In [21]:
a="hello world"
for i in a:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [22]:
a=[1,2,3]
b=[4,5,6]
c=[]
for i in range(3):
    c.append(b[i]+a[i])
print(c)

[5, 7, 9]

In [23]:
names=['Ram','Raj','kamal']
ages=[12,23,45]
for i in range(3):
    print(names[i],"is",ages[i],"years old")

Ram is 12 years old
Raj is 23 years old
kamal is 45 years old

In [24]:
numbers=[1,2,3,4]
double=[]
for i in numbers:
      double.append(i*2)
      
print(double)

[2, 4, 6, 8]