# DEFINITION-

A for loop is used for iterating over a sequence of elements(items) inside an ITERABLE DATA TYPE.

In [2]:
a=[1,2,3,4,5] # the order of print is from starting element to the ending element.
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

1
2
3
4
5

In [19]:
a=[1,2,3,4,5]
for item in a : # note-- 'item' is just a variable assigned to the elements or memebers in a.
    print(item) # instead of item you can assign any variable for the FOR LOOP to understand it.

1
2
3
4
5

In [22]:
a=['data','vijai','science',5,3,1,4,3,'a',5,'A']
for i in a:
    print(i)

data
vijai
science
5
3
1
4
3
a
5
A

In [4]:
a=[1,2,3,4,5] # HERE THE VARIABLE ASSIGNED IS i FOR CHECKING THE MEMBERS.
for i in a:
    print(i) # print(i) is the command given to elements if they are satisfying the conditions inside the for loop
    # and as there is no specific condition given inside the for loop , i.e. no use of 'if or else' therefore every element
    # will perform the command of printing i

1
2
3
4
5

In [42]:
a=[1,2,3,4,5] # HERE THE VARIABLE ASSIGNED IS i FOR CHECKING THE MEMBERS.
for i in a:
    print('a') # here the command is to print 'a' so each element will be printing 'a'

a
a
a
a
a

In [44]:
a=[1,2,3,4,5] # HERE THE VARIABLE ASSIGNED IS i FOR CHECKING THE MEMBERS.
for i in a:
    if i%2==0: # if the modulus of i is 0 then only the bool i%2==0 will be true and then it will perform the command inside
               # the if statement.
            
        print('a',i) # here the command is to print 'a' so each element whose modulus is 0 i.e.
                   # every even number will be printing 'a'.

a 2
a 4

In [ ]:
# in the given list if you get a particular element greater equal than 10 , then
a=[12,31,5,6,1,2,3,4,1,55,12,321,32]

##### now you can see , that in a for loop the item which is checked first is necessarily the first item of the given iterable data type , is valid for only ordered iterable data types like tuple , list , dictionary , string.

In [9]:
a={1,2,3,4,5,'a','b',7,8,9,'d','e',11,'f',10}
for i in a:
    print(i)
    
# here you can see randomly the items are getting printed as the set is unordered.

1
2
3
4
5
7
8
9
d
e
11
10
b
f
a

###### the work of for loop is to access all the items in the iterable data type and return the command given inside the for loop.

In [10]:
a=[1,2,3]
for i in a:
    print('a') # it checks the first element and verifies the command given as print('a') and as the list has 3 elements
               # therefore 'a' is printed 3 times as when ever it reads an element command of printin 'a' is given.

a
a
a

In [12]:
a=[1,2] # here two items are present so 'v' is printed 2 times.
for i in a: 
    print('v')

v
v

In [23]:
a=[1,2,3]     #### try to guess the answer of this code without running the code.
for i in a :
    print(a)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

###### we can give conditions inside the for loops as well like-->

In [14]:
a=[1,2,3,4,5,23,12,2,2,2]
for i in a:
    if i==2: # wherever in for loop i==2 is TRUE i is printed. i.e. the item is equal to 2 there i(the item) will be printed
        print(i)

2
2
2
2

In [ ]:
#### get all the '1' present in the list
a=['1',2,'1',3,4,2,'1',24,4,'1',42]

In [15]:
# for finding even numbers we write 
44%2==0 # as no remainder is left means number is even

True

In [16]:
45%2==1 # means the number is odd as 1 remainder is left

True

In [ ]:
# now after understanding the 2 codes given just above find the even numbers present inside the list and in next cell find 
# find the odd numbers

a=[1,2,3,4,5,6,7,8,9,10]

In [33]:
a=[1,2,3,4,5]
for i in a:
    if i+2>=5:
        print('a',i)

a 3
a 4
a 5

In [25]:
a=[1,2,3,4,5]
for i in a:
    if i%2==0:
        print(i)
        print('a')

2
a
4
a

In [34]:
a=[1,2,3,4,5,6,7,8]
b=[]
print('old b',b)
for i in a:
    b.append(i)
print('new b',b)

old b []
new b [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# make two lists such that one contains even number of list a and the other contains odd
a=[1,2,3,4,5,6,7,8]
b=[]                # for even

In [ ]:
# make two lists such that one contains even number of list a and the other contains odd
a=[1,2,3,4,5,6,7,8]
b=[]                     # for odd

In [ ]:
# make two lists such that one contains even number of list a and the other contains odd
a=[1,2,3,4,5,6,7,8]
b=[]
c=[]         # do it in once.

In [28]:
a=[1,2,3,4,5]
for i in a:
    print('rajshree')
    if i%2==0:
        print(i)
    else:
        print('odd number')

rajshree
odd number
rajshree
2
rajshree
odd number
rajshree
4
rajshree
odd number

In [ ]:
fruits=['apple','kiwi','banana','mango','orange','grapes','blueberry','litchi','bengen']
#get the fruits which do not have string 'a' in them.
#get the fruits which have string 'a' in them.
# get fruits in which string length is greater than 7.
# get fruits in which string length is less than 7.

### anamolous behaviour of FOR LOOPS.

###### what happens when we modify the the same list in which for looping is being done.

In [ ]:
a=[1,2,3,4,5] ## do not run just understand the statement shown below in output
for i in a:
    a.append(i)
    print(a)

## after we append 1 in the list , the iterations keep on getting increased by +1 and as there is no break pass or anything
## else therefore the iteration will keep on getting increased infinitely.

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
a=[1,2,3,4,5] ## do not run just understand the statement shown below in output
for i in a:
    a.append(1)
    print(a)
print(a)

In [3]:
a=[1,2,3,4,5,1] ## do not run just understand the statement shown below in output
for i in a:
    print(a,i)
    if i==1:
        a.append(3)
    print(a,i)
print(a)

[1, 2, 3, 4, 5, 1] 1
[1, 2, 3, 4, 5, 1, 3] 1
[1, 2, 3, 4, 5, 1, 3] 2
[1, 2, 3, 4, 5, 1, 3] 2
[1, 2, 3, 4, 5, 1, 3] 3
[1, 2, 3, 4, 5, 1, 3] 3
[1, 2, 3, 4, 5, 1, 3] 4
[1, 2, 3, 4, 5, 1, 3] 4
[1, 2, 3, 4, 5, 1, 3] 5
[1, 2, 3, 4, 5, 1, 3] 5
[1, 2, 3, 4, 5, 1, 3] 1
[1, 2, 3, 4, 5, 1, 3, 3] 1
[1, 2, 3, 4, 5, 1, 3, 3] 3
[1, 2, 3, 4, 5, 1, 3, 3] 3
[1, 2, 3, 4, 5, 1, 3, 3] 3
[1, 2, 3, 4, 5, 1, 3, 3] 3
[1, 2, 3, 4, 5, 1, 3, 3]

In [ ]:
a=[1,2,3,4,5] ## do not run just understand the statement shown below in output
for i in a:
    if i==1:
        a.append(1)
print(a)

In [6]:
a=[1,2,1,3,1,1] ## do not run just understand the statement shown below in output
for i in a:
    a.remove(1) ### here all 1 are not removed as after removing 1 the iteration will now become -1 over and over again
    print(a)           ### until it attains a saturation point where the current iteration of item will exceed the length of list
                ### and therefore no remove operation will be done
print(a)

[2, 1, 3, 1, 1]
[2, 3, 1, 1]
[2, 3, 1]
[2, 3, 1]

In [ ]:
#### now there is a way to remove all iterations of recurring item

In [9]:
a=[2,3,4,5,1,1,1,1] ## make a copy
print(a)
b=a.copy()
print(b)
for i in b:  ### now looping inside the copied  list and doing operation on the original list
             ### will not contribute to any change in iteration of the copied list.
    
    a.remove(1)
    print(a)
print(a)

[2, 3, 4, 5, 1, 1, 1, 1]
[2, 3, 4, 5, 1, 1, 1, 1]
[2, 3, 4, 5, 1, 1, 1]
[2, 3, 4, 5, 1, 1]
[2, 3, 4, 5, 1]
[2, 3, 4, 5]

ValueError: list.remove(x): x not in list

In [ ]:
#### understanf the concept of the codes written below.

In [26]:
a=[1,2,3,4,5,6,7,72,1,1,4,4,5,6,7,8,8,8,9]
b=set(a)
for i in b:
    if a.count(i)>1:
        print(i)

1
4
5
6
7
8

In [40]:
a=[1,2,3,4,5,6,7,72,81,1,1,4,5,6,7,8,9]
for i in set(a):
    if a.count(i)>1:
        print(i,'has',a.count(i),'duplicates')

1 has 3 duplicates
4 has 2 duplicates
5 has 2 duplicates
6 has 2 duplicates
7 has 2 duplicates

In [36]:

a=('HarryPotter '*10).split(' ')
b=('TheMegaLiving '*10).split(' ')
c=('AtomicHabits '*4).split(' ')
d=('BhagwadGita '*2).split(' ')
e=('Secret '*4).split(' ')
g=[]
g.extend(a)
g.extend(b)
g.extend(c)
g.extend(d)
g.extend(e)
print(g)

['HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', '', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', '', 'AtomicHabits', 'AtomicHabits', 'AtomicHabits', 'AtomicHabits', '', 'BhagwadGita', 'BhagwadGita', '', 'Secret', 'Secret', 'Secret', 'Secret', '']

['HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', 'HarryPotter', '', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', 'TheMegaLiving', '', 'AtomicHabits', 'AtomicHabits', 'AtomicHabits', 'AtomicHabits', '', 'BhagwadGita', 'BhagwadGita', '', 'Secret', 'Secret', 'Secret', 'Secret', '']
in the given list of books find the books that have duplicates more than 5 times and of those who have duplicates less than 5 times.

In [3]:
#### with help of the list
a=[0,1,2,3,4,5,6,7,8,9,10]
# make the star pyramid # AS SHOWN BELOW


#### hint---> run the codes 
'*' * 1
'*' *2

'**'

In [ ]:
*
**
***
****
*****
******
*******
********
*********

##### 31 october 2023

###### for using if else in for loop , we need to have a basic level of understanding of how if else work.

###### to understand if else statements we must understand bool data type.

bool is basically True / False output , that is understood by python according to the command that we provide.

In [11]:
# for example
print(1==1) # is true data type as this will be comprehended by pyhton as a correct statement.
print(1!=1) # as 1 is equal to 1 so declaring it not equal to 1 will be an incorrect statement
print(2==1) # but 2 is not equal to 1 so false will be shown
print(2!=1) # as 2 is not equal to 1 so writing it inside and giving the command that 2 is not equal to 1 will be correct
            # statement for python

True
False
False
True

In [41]:
a=1
b=2
c = 1==1
d = 1!=1
e = 2==1
f = 2!=1
print(c and d and e or f)
      # c and d and e or f
      # false and e or f
      # false and false or f
      # false or true
      # true
print(False and False or False)
print(c,d,e,f)
print(c or d or e or f)
print(d or e)

True
True False False True
True
False

In [42]:
list_1=[1,2,3,4,6,1,3,4,1,1,1,6,6,3]
for i in set(list_1):
    if i%3==0:
        print(i)
        print(list_1)

3
[1, 2, 3, 4, 6, 1, 3, 4, 1, 1, 1, 6, 6, 3]
6
[1, 2, 3, 4, 6, 1, 3, 4, 1, 1, 1, 6, 6, 3]

In [43]:
list_1=[1,2,3,4,6,1,3,4,1,1,1,6,6,3]
for i in set(list_1):
    a=i%3==0
    if a:
        print(i)
        print(list_1)

3
[1, 2, 3, 4, 6, 1, 3, 4, 1, 1, 1, 6, 6, 3]
6
[1, 2, 3, 4, 6, 1, 3, 4, 1, 1, 1, 6, 6, 3]

In [25]:
x=['suryansh']
y=x
print(id(x))
print(id(y))
print(x)
x=y[0]
print(id(x))
print(x)
print(y)
print(id(y))

2659992597568
2659992597568
['suryansh']
2659992054256
suryansh
['suryansh']
2659992597568

In [47]:
list1=[1,2,3]
a=list1
a is list1

True

In [10]:
a=(1,2,3,4)
b=max(a)
print(b)

4

In [62]:
list==list
a=[1,23]
c=(a.append(1))
d=id(a.append(1))
print(a)
print(c)
print(d)

[1, 23, 1, 1]
None
140711113550576

In [3]:
a=[1,2]  
print(type(a)==list)
c=type(a)==list
print(c)
id(c)

True
True

140711113468448

In [15]:
a=[1]
b=['a',2]
type(a)==type(b)

True

In [45]:
a=(1,)           # answer the question
b=('a',2)
type(a)==type(b)

True

In [20]:
24-13==9+2

True

In [6]:
#### to understand the concept of bool let us look at the exmaple

a=['a','b','c'] # the given list has 3 elements

# subtracting the length of a with 1 will reuslt in making the value less by 1 . now as the indexing starts from 0 so 

# so the index of 3rd will be 0 , 1 , 2

# now as the length was 3 , 3-1 becomes 2 and as the index of last element and length of list are basically just integers 

# therefore both of them can be compared.

print(len(a)-1 == a.index('c'))

# therefore this will be True

#### now try to guess the answer of the following code below without running the cell.


print(len(a)-1==a.index(a[-1]))

True

In [ ]:
# answer the given question

a=['a','b','c']
a.index('c')+1 == len(a)
a.index(a[-1])+1 != len(a)

In [ ]:
if True:
    print('True bool is accepted')
else:
    print('True bool is not accepted in IF')

In [ ]:
if False:
    print('False bool is accepted')
else:
    print('False bool is not accepted in if')

In [64]:
# now with the understanding of the use of BOOL with if else statements make a program to check the eligibility of a person 
# to check whethter he / she is older than or equal to 18 he she is eligible for  driving scooty.

# make programs with the given person.
# first attempt to solve the question taking each value 1 by 1.

person1=('arjun',19)
person2=('udit',22)
person3=('hardik',14)
if person1[1]>=18:
    print(person1[0].upper(),'is eligible for having a license')
else:
    print()

## after doing it 1 by 1 try to solve it with help of for loops and the data that will be accessed is given below

a=['arjun','hardik','udit']
b=[19,14,22]
for i in a:
    if b[0]>18:
        print(i.upper()
# the names and ages are given in the lists in respective indexes

# or use

a=[('arjun',19),('hardik',22),('udit',14)]

ARJUN eligible for having license

In [ ]:
##### more questions
a=['suryansh','arjun','udit','gautam','ayush','raj','sandeep','shreya','pratiksha']
#### get the naeme which are of equal to or less than 5 letters 
#### and get the names which have more than 5 letters.

In [ ]:
a=[2,3,4,8,80,20,55,21,55,44,12,34,54,64]
#### get those elements of the list that are divisible by 4.

#### hint-- use the same methods that we used while seperating even and odd numbers

### new topic-----> ( range )

In [21]:
a=[0,1,2,3,4,5,6,7,8,9,10,9,8,7,6,5,4,3,2,1,0]
for i in a :
    print(i*'*')

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [16]:
for i in range(10): # when we write only the integer inside the parenthesis it automatically becomes the upper limit or the 
    # ending element of the range.
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
for i in range(2,-10,-2): # if we want to start the range from 0 then we can write the range without specifying the starting
    # element as 0 .
    print(i)

2
0
-2
-4
-6
-8

In [16]:
for i in range(22,2,-2):
    print(i)

22
20
18
16
14
12
10
8
6
4

In [36]:
for i in range(10,21): # use of 'end = ' in print inside the forloop .
    print(i,' a ',end=' l ')

10  a  l 11  a  l 12  a  l 13  a  l 14  a  l 15  a  l 16  a  l 17  a  l 18  a  l 19  a  l 20  a  l

In [20]:
for i in range(10,21): # as the starting element or item is 10 so range will start from 10 and as the upper limit is 21
    # therfore the last element will be 20.
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [39]:
for i in range(21,10,-1): # use of 'end = ' in print inside the forloop .
    print(i , end = ' a ')

21 a 20 a 19 a 18 a 17 a 16 a 15 a 14 a 13 a 12 a 11 a

In [25]:
for i in range(10,21): # use of 'end = ' in print inside the forloop .
    print(i , end = ' hi ')

10 hi 11 hi 12 hi 13 hi 14 hi 15 hi 16 hi 17 hi 18 hi 19 hi 20 hi

In [37]:
for i in range(10): 
    print(i*'*')

*
**
***
****
*****
******
*******
********
*********

In [48]:
for i in range(10): 
    print(i*'*');
for i in range(9,0,-1):
    print(i*'*')

*
**
***
****
*****
******
*******
********
*********
*********
********
*******
******
*****
****
***
**
*

In [49]:
for i in range(10): 
    print(i*'*');
for i in range(9,0,-1):
    print(i*'*')

*
**
***
****
*****
******
*******
********
*********
*********
********
*******
******
*****
****
***
**
*

In [52]:
for i in range(1,10): 
    print(i*'*');
for i in range(9,0,-1):
    print(i*'*')

*
**
***
****
*****
******
*******
********
*********
*********
********
*******
******
*****
****
***
**
*

In [55]:
for i in range(9,0,-1): 
    print(i*'*');
for i in range(1,10):
    print(i*'*')

*********
********
*******
******
*****
****
***
**
*
*
**
***
****
*****
******
*******
********
*********

In [60]:
for i in range(0,11):
    print(i)

0
2
4
6
8
10

#### NESTED FOR LOOPS.

In [7]:
list_1=['suryansh','sandeep','shreya']
for element in list_1:
    print(element,' : this is ', list_1.index(element) ,' element of list',list_1)
    for string in element:
        print(string,' : this is ',element.index(string),' string','of element',element)

suryansh  : this is  0  element of list ['suryansh', 'sandeep', 'shreya']
s  : this is  0  string of element suryansh
u  : this is  1  string of element suryansh
r  : this is  2  string of element suryansh
y  : this is  3  string of element suryansh
a  : this is  4  string of element suryansh
n  : this is  5  string of element suryansh
s  : this is  0  string of element suryansh
h  : this is  7  string of element suryansh
sandeep  : this is  1  element of list ['suryansh', 'sandeep', 'shreya']
s  : this is  0  string of element sandeep
a  : this is  1  string of element sandeep
n  : this is  2  string of element sandeep
d  : this is  3  string of element sandeep
e  : this is  4  string of element sandeep
e  : this is  4  string of element sandeep
p  : this is  6  string of element sandeep
shreya  : this is  2  element of list ['suryansh', 'sandeep', 'shreya']
s  : this is  0  string of element shreya
h  : this is  1  string of element shreya
r  : this is  2  string of element shreya
e  : this is  3  string of element shreya
y  : this is  4  string of element shreya
a  : this is  5  string of element shreya

In [19]:
list1=['suryansh','sandeep','shreya']
for i in list_1:
    print(i,list1.index(i),' element of outer loop')
    print('  ')
    for v in list_1:
        print(v,list1.index(v),' element of inner loop')
    print('  ')

suryansh 0  element of outer loop

suryansh 0  element of inner loop
sandeep 1  element of inner loop
shreya 2  element of inner loop

sandeep 1  element of outer loop

suryansh 0  element of inner loop
sandeep 1  element of inner loop
shreya 2  element of inner loop

shreya 2  element of outer loop

suryansh 0  element of inner loop
sandeep 1  element of inner loop
shreya 2  element of inner loop

In [ ]:
b = ['mango','apple','banana','papaya']
# print the list b , whenever you find 'a' string in any element of list.

In [ ]:
b = [('suryansh',14),('sandeep',21),('shreya',23)]
# print the list b whenever the integer of tuple is greater than 20.

In [13]:
fruit_list = ['mango','apple','banana','papaya']
# print the list b , whenever you find 'a' string in any element of list.
for fruit in fruit_list:
    for string in fruit:
        if string=='a':
            print(string,' of ',fruit)
    if fruit.count('a')>1:
        print('done for current fruit ',fruit)

a  of  mango
a  of  apple
a  of  banana
a  of  banana
a  of  banana
done for current fruit  banana
a  of  papaya
a  of  papaya
a  of  papaya
done for current fruit  papaya

In [22]:
fruit_list = ['mango','apple','banana','papaya']
# print the list b , whenever you find 'a' string in any element of list.
for fruit in fruit_list:
    for string in fruit:
        if string=='a':
            print(string,' of ',fruit)
            print('done for current fruit ',fruit)

['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']

In [18]:
fruit_list = ['mango','apple','banana','papaya']
# print the list b , whenever you find 'a' string in any element of list.
for fruit in fruit_list:
    for string in fruit:
        if string=='a':
            print(fruit_list)

['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']
['mango', 'apple', 'banana', 'papaya']

In [20]:
a = ['mango','apple','banana','papaya']
for i in a:
    for x in range(i.count('a')):
        print(a,i)

['mango', 'apple', 'banana', 'papaya'] mango
['mango', 'apple', 'banana', 'papaya'] apple
['mango', 'apple', 'banana', 'papaya'] banana
['mango', 'apple', 'banana', 'papaya'] banana
['mango', 'apple', 'banana', 'papaya'] banana
['mango', 'apple', 'banana', 'papaya'] papaya
['mango', 'apple', 'banana', 'papaya'] papaya
['mango', 'apple', 'banana', 'papaya'] papaya

In [27]:
a = [True,False,False,True,False,False,True,True,False,False]
# hint - use add and assign.
print(a.count(False),'total number of False')

6 total number of False

In [ ]:
for i in range(3):
    print('*',end='')
    for i in range(2):
        print('z',end=' ')

In [26]:
a = [[True,False,False,True],[False,False,True],[True,False,False]]
# find the total number of True , and False in the list using for loop
# hint - use add and assign.
b = 0
b += a[0].count(False)
b += a[1].count(False)
b += a[2].count(False)
print(b,'total number of False')

6 total number of False

In [1]:
a = [[True,False,False,True],[False,False,True],[True,False,False]]
# find the total number of True , and False in the list using for loop
# hint - use add and assign.
# find the total number of True , and False in the list using for loop
# hint - use add and assign.
b = 0
b += a[0].count(False)
b += a[1].count(False)
b += a[2].count(False)
print(b,'total number of False')

6 total number of False

In [18]:
list_1 = [[True,True,False],[False,False,True],[True,False],[True,False,False,True],[True,False,False,True],[True,False,False,True],[True,False,False,True],[True,False,False,True],[True,False,False,True],[True,False,False,True],[True,False,False,True],[True,False,False,True]]
false_count = 0
true_count  = 0
for i in list_1:
    false_count+=i.count(False)

22

In [ ]:
# end the loop if you find an even number , print found an even number , breaking the loop , else print the numbers.
a = [1,3,5,7,8,9,11,12,13,15]

In [ ]:
# print the odd numbers and break the loop when you find an even number.

In [8]:
a = [1,3,5,7,8,9,11,12,13,15]
for i in a:
    if i%2==1:
        print(i)
    else:
        print('found an even number ',i,' breaking the loop.')

1
3
5
7
found an even number  8  breaking the loop.
9
11
found an even number  12  breaking the loop.
13
15

In [2]:
a = [1,3,5,7,8,9,11,12,13,15] 
for i in a:
    if i%2==1:
        print(i)
    else:
        print('found an even number ',i,' breaking the loop.')
        break

1
3
5
7
found an even number  8  breaking the loop.

In [11]:
a = [1,3,5,7,8,9,11,12,13,15] 
for i in a:
    if i%2==1:
        print(i)
    else:
        print('found an even number ',i,' breaking the loop.')
        break

1
3
5
7
found an even number  8  breaking the loop.

In [ ]:
a = [1,2,4,5,7,8,9,0,1,3,4,5,6,7,4,5,5,6,6,7,8,8,4,4,'sandeep',1,2,4,5,7,8,9,4,3,2,3,6]

In [19]:
a = [1,2,4,5,7,8,9,0,1,3,4,5,6,7,4,5,5,6,6,7,8,8,4,4,'sandeep',1,2,4,5,7,8,9,4,3,2,3,6]
for i in a:
    if i==str:
        print(i)

<class 'str'>

In [16]:
a = [1,2,4,5,7,8,9,0,1,3,4,5,6,7,4,5,5,6,6,7,8,8,4,4,'sandeep',1,2,4,5,7,8,9,4,3,2,3,6]
for i in a:
    if type(i)==str:
        print(i)

sandeep

In [20]:
a = [1,2,4,5,7,8,9,0,1,3,4,5,6,7,4,5,5,6,6,7,8,8,4,4,'sandeep',1,2,4,5,7,8,9,4,3,2,3,6,'suryansh','shreya']
for i in a:
    if type(i)==str:
        print(i)

sandeep
suryansh
shreya

In [22]:
a = [1,2,4,5,7,8,9,0,1,3,4,5,6,7,4,5,5,6,6,7,8,8,4,4,'sandeep',1,2,4,5,7,8,9,4,3,2,3,6,'suryansh','shreya']
for i in a:
    if type(i)==str:
        print('found a string',i,'now breaking the loop.')
        break

found a string sandeep now breaking the loop.

In [ ]:
a = [1,2,4,5,7,8,9,0,1,3,4,5,6,7,4,5,5,6,6,7,8,8,4,4,'sandeep',1,2,4,5,7,8,9,4,3,2,3,6,'suryansh','shreya']
for i in a:
    if type(i)==str:
        print('found a string',i,'at index',    ,', now breaking the loop.')
        break

In [25]:
for i in range(12,15):
    for b in range(1,11):
        print(i,'X',b,'=',i*b)
    print('\n\n')

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120



13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130



14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
14 X 10 = 140

In [24]:
list1=['a','b','c','d']
for k in list1:
    print('ok ',k)
    for i in range(2):
        print('hi ',i)
    print()

ok  a
hi  0
hi  1

ok  b
hi  0
hi  1

ok  c
hi  0
hi  1

ok  d
hi  0
hi  1

In [ ]:
list1=['a','b','c']
print(list[0])

In [26]:
list1 = ['mango','apple','papaya']

print('found a in','mango')
print('found a in','apple')
print('found a in','papaya')
print('found a in','papaya')
print('found a in','papaya')

found a in mango
found a in apple
found a in papaya
found a in papaya
found a in papaya

In [30]:
for i in range(3):
    print('hello')
    for i in range(2):
        if i == 1:
            break
        print('yes')

hello
yes
hello
yes
hello
yes

In [17]:
a='*'
b='    '
c=' '
count1=len(b)
count2=1
for i in range(len(b)):

                **                                *
            ***                        *
        ****                *
    *****        *

In [ ]:
   *
  * * 
*  *  *

In [25]:
a='*'
d='***'
b=' '
b='   '
c=3
count=1
for i in range(3):
    print(a*count,c*b,a*count,c*b)
    count+=1

*           *
**           **
***           ***

In [63]:
a=' '
b='*'
c=15
d=1
count=0
while c!=0:
    print(a*c+b*(count+d)+a*c+a*c+b*(count+d)+a*c+a*c+b*(count+d))
    count+=2
    c-=1
while c!=15:
    print(a*c,b*(count-d),a*c+a*c,b*(count-d),a*c+a*c,b*(count-d))
    count-=2
    c+=1

               *                              *                              *
              ***                            ***                            ***
             *****                          *****                          *****
            *******                        *******                        *******
           *********                      *********                      *********
          ***********                    ***********                    ***********
         *************                  *************                  *************
        ***************                ***************                ***************
       *****************              *****************              *****************
      *******************            *******************            *******************
     *********************          *********************          *********************
    ***********************        ***********************        ***********************
   *************************      *************************      *************************
  ***************************    ***************************    ***************************
 *****************************  *****************************  *****************************
 *****************************  *****************************  *****************************
  ***************************    ***************************    ***************************
   *************************      *************************      *************************
    ***********************        ***********************        ***********************
     *********************          *********************          *********************
      *******************            *******************            *******************
       *****************              *****************              *****************
        ***************                ***************                ***************
         *************                  *************                  *************
          ***********                    ***********                    ***********
           *********                      *********                      *********
            *******                        *******                        *******
             *****                          *****                          *****
              ***                            ***                            ***
               *                              *                              *

In [5]:
a=' '
b='*'
c=15
d=1
while c!=0:
    print(a*c,(b+'*')*(d),a*c)
    c-=1
    d+=1

                **
               ****
              ******
             ********
            **********
           ************
          **************
         ****************
        ******************
       ********************
      **********************
     ************************
    **************************
   ****************************
  ******************************

In [8]:
a=' '
b='*'
c=5
d=1
count=0
while c!=0:
    print(a*c,b*(count+d),a*c,a*c,b*(count+d),a*c,a*c,b*(count+d),a*c,a*c,b*(count+d),a*c,a*c,b*(count+d),a*c,a*c,b*(count+d),a*c)
    count+=2
    c-=1
while c!=5:
    print(a*c,b*(count-d),a*c,a*c,b*(count-d),a*c,a*c,b*(count-d),a*c,a*c,b*(count-d),a*c,a*c,b*(count-d),a*c,a*c,b*(count-d),a*c,a*c,b*(count-d),a*c,a*c,b*(count-d),a*c)
    count-=2
    c+=1

      *             *             *             *             *             *
     ***           ***           ***           ***           ***           ***
    *****         *****         *****         *****         *****         *****
   *******       *******       *******       *******       *******       *******
  *********     *********     *********     *********     *********     *********
 *********   *********   *********   *********   *********   *********   *********
  *******     *******     *******     *******     *******     *******     *******
   *****       *****       *****       *****       *****       *****       *****
    ***         ***         ***         ***         ***         ***         ***
     *           *           *           *           *           *           *

In [38]:
a=' '
b='*'
c=15
d=0.5
while d!=c:
    print(b*(2*d))
    d+=1
    c-=1

TypeError: can't multiply sequence by non-int of type 'float'

In [46]:
a='*'
b=' '
number=12
current=0
for i in range(number):
    print(b*number,a+a*current,b*number)
    current+=2

             *
             ***
             *****
             *******
             *********
             ***********
             *************
             ***************
             *****************
             *******************
             *********************
             ***********************

In [7]:
for i in range(3):   # 0 , 1 , 2
    print(i,'1st for loop')
    for i in range(3): # 0 , 1 , 2
        print(i,'2nd for loop')
        for i in range(3): # 0 , 1 , 2
            print(i,'3rd for loop')

0 1st for loop
0 2nd for loop
0 3rd for loop
1 3rd for loop
2 3rd for loop
1 2nd for loop
0 3rd for loop
1 3rd for loop
2 3rd for loop
2 2nd for loop
0 3rd for loop
1 3rd for loop
2 3rd for loop
1 1st for loop
0 2nd for loop
0 3rd for loop
1 3rd for loop
2 3rd for loop
1 2nd for loop
0 3rd for loop
1 3rd for loop
2 3rd for loop
2 2nd for loop
0 3rd for loop
1 3rd for loop
2 3rd for loop
2 1st for loop
0 2nd for loop
0 3rd for loop
1 3rd for loop
2 3rd for loop
1 2nd for loop
0 3rd for loop
1 3rd for loop
2 3rd for loop
2 2nd for loop
0 3rd for loop
1 3rd for loop
2 3rd for loop

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,'asd',11,12,'asda']

In [9]:
a = [1,2,3,4,5,6,7,8,9,10,'asd',11,12,'asda']
for i in a:
    if i%2==0:
        print(i,'is even')
    elif i%2==1:
        print(i,'is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

TypeError: not all arguments converted during string formatting

In [10]:
a = [1,2,3,4,5,6,7,8,9,10,'asd',11,12,'asda']
for i in a:
    if type(i)==str:
        pass
    elif i%2==0:
        print(i,'is even')
    elif i%2==1:
        print(i,'is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even

In [14]:
a = [1,2,3,4,5,6,7,8,9,10,'asd',11,12,'asda']
for i in a:
    if type(i)==str:
        pass
    else:
        if i%2==0:
            print(i,'is even')
        else:
            if i%2==1:
                print(i,'is odd')
            else:
                print('hello')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even

In [8]:
a = [1,2,3,4,5,6,7,8,9,10,'asd',11,12,'asda']
for i in a:
    if type(i)==str:
        continue
    else:
        if i%2==0:
            print(i,'is even')
        if i%2==1:
                print(i,'is odd')
        else:
            print('hello')

1 is odd
2 is even
hello
3 is odd
4 is even
hello
5 is odd
6 is even
hello
7 is odd
8 is even
hello
9 is odd
10 is even
hello
11 is odd
12 is even
hello

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,'asd',11,12,'asda']
for i in a:
    if type(i)==str:
        pass
    elif i%2==0:
        print(i,'is even')
    elif i%2==1:
        print(i,'is odd')
    else:
        print('hello')

In [19]:
a=[1,2,3,4,5]
for i in a:
    if i==1:                   # here all the if's will be accessed
        print('hello',i)
    if i==2:
        print('hello',i)
    if i==3:
        print('hello',i)        # here all the if's have their independent existence
    if i==4:                    # therefore if condition in  any 'if' is false the next if won't be affected
        print('hello',i)
    if i==5:
        print('hello',i)                 # the else is related with  only the last if  
    else:
        print(i,'is not present')

hello 1
1 is not present
hello 2
2 is not present
hello 3
3 is not present
hello 4
4 is not present
hello 5

In [20]:
a=[1,2,3,4,5]
for i in a:
    if i==1:
        print('hello',i)
    else: 
        if i==2:
            print('hello',i)
        else:
            if i==3:
                print('hello',i)
            else:
                if i==4:
                    print('hello',i)
                else:
                    if i==5:
                        print('hello',i)
                    else:
                        print(i,'is not present')

hello 1
hello 2
hello 3
hello 4
hello 5

In [21]:
a=[1,2,3,4,5,]
for i in a:
    if i==1:
        print('hello',i)
    else:
        if i==2:
            print('hello',i)
        else:
            if i==3:
                print('hello',i)
            else:
                if i==4:
                    print('hello',i)
                else:
                    if i==5:
                        print('hello',i)
                    else:
                        print(i,'is not present')

hello 1
hello 2
hello 3
hello 4
hello 5
6 is not present

In [23]:
a=[1,2,3,4,5,6]
for i in a:
    if i==1:
        print('hello',i)
    elif i==2:
        print('hello',i)
    elif i==3:
        print('hello',i)
    elif i==4:
        print('hello',i)
    elif i==5:
        print('hello',i)

hello 1
hello 2
hello 3
hello 4
hello 5

In [25]:
# you have a budget of 10000 rupees , if after the shopping the price of products exceeds 8000 rupees then tell the user
# that he should avoid buying the products
# if price of products is less than 6000 rupees then tell the user
# that he can buy the products
# if price of products is less than 2000 rupees then tell the user
# that he should buy more products

In [ ]:
# take the budget as input from user , if after the shopping the price of products exceeds 80 percent of budget then 
# tell the user that he should avoid buying the products
# if price of products is less than 80 percent but and greater than 20 percent of budget rupees then tell the user
# that he can buy the products
# if price of products is less than 20 percent of the budget then tell the user
# that he should buy more products

In [9]:
a = [1,1,1,1,2,3,4,5,3,2,2,2,3,3,4,4,5,6,5,5,6,1,3,1,123,142,543,321,156]
x = int(input('enter the number : '))
if x in a:
    print(x,' has ',a.count(x),' repititions')
else:
    print(x,'is not in the list .')

enter the number : 1

In [20]:
a = [1,1,1,1,2,3,4,5,3,2,2,2,3,3,4,4,5,6,5,5,6,1,3,1,123,142,543,321,156] # pass can be used inside for loops
                                                                      # and as well as in if elif else conditions.
x = int(input('enter the number : '))
if x in a:
    break
    # continue will only be used inside the loops .
else:
    print(x,'is not in the list .')

enter the number : 1

SyntaxError: 'break' outside loop (682272972.py, line 5)

In [ ]:
# get two different dictionaries such that one has those keys which have mutable data type and the other one having values
# of immutable data type . 
dict1 = {'1st key' : [1,2,4,5,6,7] , '2nd key': {1,2,3,4,5,6} ,  '3rd key' : 12345 , '4th key' : (1,2,3,4,5,6) ,'5th key' : '12345' , '6th key' : 132.32 , '7th key' : {1:'a',2:'b'}}

In [2]:
# get two different dictionaries such that one has those keys which have mutable data type and the other one having values
# of immutable data type . 
dict1 = {'1st key' : [1,2,4,5,6,7] , '2nd key': {1,2,3,4,5,6} , '3rd key' : 12345 , '4th key' : (1,2,3,4,5,6) ,'5th key' : '12345' , '6th key' : 132.32 , '7th key' : {1:'a',2:'b'}}

In [3]:
a = {i:dict1[i] for i in dict1 if type(dict1[i])==list or type(dict1[i])==set or type(dict1[i])==dict}
print(a)

{'1st key': [1, 2, 4, 5, 6, 7], '2nd key': {1, 2, 3, 4, 5, 6}, '7th key': {1: 'a', 2: 'b'}}

In [4]:
b = {i:dict1[i] for i in dict1 if type(dict1[i])==tuple or type(dict1[i])==int or type(dict1[i])==float or type(dict1[i])== str}
print(b)

{'3rd key': 12345, '4th key': (1, 2, 3, 4, 5, 6), '5th key': '12345', '6th key': 132.32}

In [ ]:
# make a program of calculator , where the signs of operators given by user is same as those used in coding.

# check whether a person is eligible for having a driving license , eligibility criteria is that the person should
# be above 18 years of age and should be a citizen of India.

In [15]:
a = 10
b = 10
a is b

True

In [35]:
a = 256   # from 257 and onwards.
b = 256
a is b

True

In [36]:
a = 2256   # from 257 and onwards.
b = 2256
a is b

False

In [37]:
a = 556   # from 257 and onwards.
b = 556
a is b

False

In [36]:
list1 = [1,2,3,4,5,6,7]
count = len(list1)
b = set()
while count!=0:
    b.add(tuple(list1[0:count]))
    count -= 1
b.add(())
print(b)

{(1, 2), (1, 2, 3, 4, 5, 6, 7), (1, 2, 3), (1, 2, 3, 4), (1, 2, 3, 4, 5, 6), (1,), (), (1, 2, 3, 4, 5)}

In [25]:
list1 = [1,2,3,4,5,6,7]
b = []
b.append(list1)
print(b)

[[1, 2, 3, 4, 5, 6, 7]]

In [5]:
list_1 = [input(f'element at index {i} :' for i in range(int(input('enter the number of elements :'))))]
print(list_1)

enter the number of elements :0
<generator object <genexpr> at 0x0000023264289A80>q
['q']

In [3]:
list_1 = [input(f'element at index {i} :') for i in range(int(input('enter the number of elements :')))]
print(list_1)

enter the number of elements :6
element at index 0 :qsad
element at index 1 :asdsa
element at index 2 :waaw
element at index 3 :afas
element at index 4 :aadada
element at index 5 :aaewwar
['qsad', 'asdsa', 'waaw', 'afas', 'aadada', 'aaewwar']