### Python Function

→ In Python, the function is a block of code defined with a name. we use functions whenever we need to perform the same task multiple times without writing the same code again. it can take arguments and return the value.

→ Python has a DRY principle like other programming languages. DRY stands for Don't Repeat Yourself. Consider a scenario where we need to do some action/task many times. we can define that action only once using a function and call that function whenever required to do the same activity.

→ function improves efficiency and reduces errors because of the reusability of a code. once we create a function, we can call it anywhere and anytime the benifit of using a function is reusability and modularity.

#### Types of Functions

Python supports two types of Functions

- Built-in function
- user-defined function

the functions which come along with Python itself are called a built-in function or predefined function. some of them are listed below, range(), id(), type(), input() etc.

####  user-defined function

function which are created by programmer explicitly according to the requirement are called a user-defined function.

- creating a function use the following steps to define a function in python.
                                          
                                          ↓
                                          
- use the def keyword with the function name to define a function.
- next, pass the number of parameters as per your requirement. ( optional )
- next, define the function body with a block of code. this block code is nothing but the action you wanted to perform.
- in python, no need to specify curly braces for the function body. the only indentation is essential to seperate code blocks. otherwise, you will get an error.


              technically we have not to change the built-in fucntion but sometimes some function get change.

# creating a function with parameters 

Now, Let's the example of creating a simple function that prints a welcome message.

In [3]:
# function without paramerters and expression will have no return 
def message():
    print("Welcome to VijAI")   # no output calling the function

# call function using its name

In [4]:
# function without paramerters and expression will have no return 
def message():
    print("Welcome to VijAI")   # no output calling the function

# call function using its name
message() # print is the output of the message function when we call the function it will display the output the ,
          # if we not call the function no output will display output

Welcome to VijAI

In [5]:
# function without paramerters and expression will have no return 
def message():
    return("Welcome to VijAI")   # no output calling the function

# call function using its name
message()

'Welcome to VijAI'

In [23]:
"""Suppose we have a function that calculates the sum of two numbers. We can imp function in two ways .
one using print() and the other using return"""
# Using print()
def sum_with_print(a,b):
    result = a+b
    print(result)

    """Here , sum_with_print() calculates the sum of a and b , and then prints the result.
    If you call sum_with_print(3,5), it will display 8 on the screen .
    However, if you try to use the result of
    this function (e.g., new_result = sum_with_print(3,5)),
    new_result will be none because print() doesnot return the sum"""

sum_with_print(3,5)

8

# Creating a function with parameters

Let's create a function that takes two parameters and display their values.

In this example, we are creating function with two parameters 'name' and 'age'.

In [6]:
# function with two parameters without return value
def course_func(name, course_name):
    print("Hello", name, "Welcome to VijAI")
    print("your course name is ", course_name)

# call function 
course_func('vidushi','Python')

Hello vidushi Welcome to VijAI
your course name is  Python

In [1]:
def welcom_func(name,age):
    print("name is",name)
    print("my age",age)

welcom_func("rahul",45)

name is rahul
my age 45

In [2]:
welcom_func("raj",78)

name is raj
my age 78

In [3]:
def welcom_func(name,age):
    return("name is",name)
    return("my age",age)

welcom_func("rahul",45)

('name is', 'rahul')

# How does Function work in Python?

In Python, functions allow the programmer to create short and clean code to be refused in an entire program 

The function helps us to organize code . The function accepts parameters as input, processes them , and in the end, return values as output.

Let's assume we defined a function that completes some task. When we call that function from another function, the program controller goes to that function, does some computation, and returns, some value as output to the caller location.

The following diagram shows how the function works.

# Difference between return and print() 

In python , print() and return are two distinct operations with different purposes:

<b>print() Function:</b>
Purpose: print()is used to display a value or a message to the console or standard output.

Usage: It's often used for debugging or providing output to the user.

Effect: When print() is called, it outputs the provided data to the screen and return None . It does not affect the flow of a function or its return value.

<b>return Statement:</b>
Purpose: return statement is used to exit a function and go back to the place where it was called. It can optionally return a value to the caller.

Usage: Iy's used to send results from a function to the caller.

Effect: When return is executed, the function terminates, optionally passing back a value . If no value is specified, None is returned.

For example, in a function, using print() will display a value. but using return will send a value back to where the function was called. This distinction is critical in programming , espacially when you need to use the rsult of a function else where in your code.

<b>creating a function with parameters and return value</b>

Function can be return a value. The return value is the output of the function. use the return keyword to return value from a function.

In [5]:
def add(x1,x2):
    x=x1+x2
    print(x)

add(3,5)

8

In [7]:
def add(x1,x2):
    x=x1+x2
    return x

add(3,5)

8

In [9]:
def add(x1,x2):
    print("nisha")
    

add(3,5)

nisha

In [10]:
print("chandramani")

chandramani

In [1]:
x=print("chandramani")
print(x)

chandramani
None

In [ ]:
x=print("chandramani")

In [14]:
def add(x1,x2):
    x=x1+x2
    print(x)

y=add(3,5)
print(y)

8
None

In [17]:
def add(x1,x2):
    x=x1+x2
    return x

y=add(3,5)
print(x)

None

In [18]:
def add(x1,x2):
    x=x1+x2
    return x

y=add(3,5)
print(y)

8

In [19]:
def add(x1,x2):
    x=x1+x2
    return add

y=add(3,5)
print(y)

<function add at 0x0000019C574DC7C0>

In [20]:
# function 
def calculator(a,b):
    add=a+b
    #return the addition
    return add

# call function
# take return value in variable
res = calculator(20,5)
print("addition:",res)
# output addition : 25

addition: 25

In [21]:
# function 
def calculator(a,b):
    add=a+b
    #return the addition
    print(add)

# call function
# take return value in variable
res = calculator(20,5)

print("addition:",res)
# output addition : 25

25
addition: None

In [22]:
# function 
def calculator(a,b):
    add=a+b
    #return the addition
    return add

# call function
# take return value in variable
res = calculator(20,5)
print("addition:",res)
# output addition : 25
res+8

addition: 25

33

In [5]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=add(2,4)
print(res)

Number 1 : 2
Number 2 : 4
6

In [6]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=add(2,4)
print(res)
res*8

Number 1 : 2
Number 2 : 4
6

48

In [11]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=list(add(2,4))
print(res)

Number 1 : 2
Number 2 : 4

TypeError: 'int' object is not iterable

In [8]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=set(add(2,4))
print(res)

Number 1 : 2
Number 2 : 4

TypeError: 'int' object is not iterable

In [9]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=dict(add(2,4))
print(res)

Number 1 : 2
Number 2 : 4

TypeError: 'int' object is not iterable

In [10]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=tuple(add(2,4))
print(res)

Number 1 : 2
Number 2 : 4

TypeError: 'int' object is not iterable

In [13]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=float(add(2,4))
print(res)

Number 1 : 2
Number 2 : 4
6.0

In [14]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=[add(2,4)]
print(res)

Number 1 : 2
Number 2 : 4
[6]

In [16]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=[add(2,4)]
res1=res+[23,56]
print(res1)

Number 1 : 2
Number 2 : 4
[6, 23, 56]

In [17]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    print(addition)

res=[add(2,4)]
res1=res+[23,56]
print(res1)

Number 1 : 2
Number 2 : 4
6
[None, 23, 56]

In [18]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res={add(2,4):"hello"}
print(res)

Number 1 : 2
Number 2 : 4
{6: 'hello'}

In [19]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res={add(2,4)}
print(res)

Number 1 : 2
Number 2 : 4
{6}

In [21]:
res.update('45')
print(res)

{'5', 6, '4'}

In [24]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res={add(2,4)}
res.add(34)
print(res)

Number 1 : 2
Number 2 : 4
{34, 6}

In [25]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    print(addition)

res={add(2,4)}
res.add(34)
print(res)

Number 1 : 2
Number 2 : 4
6
{None, 34}

In [26]:
print(res)

{None, 34}

In [28]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res={add(2,4)}
res.add(34)
print(res)

Number 1 : 2
Number 2 : 4
{34, 6}

In [7]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

a=add(2,4)
a+15

Number 1 : 2
Number 2 : 4

21

In [8]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    print(addition)

b=add(2,4)
b+15

Number 1 : 2
Number 2 : 4
6

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [30]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=[add(2,4)]
print(res.append(34))
print(res)

Number 1 : 2
Number 2 : 4
None
[6, 34]

In [32]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=[add(2,4)]
res.extend([67,56,34])
print(res)

Number 1 : 2
Number 2 : 4
[6, 67, 56, 34]

In [34]:
def add(num1,num2):
    print("Number 1 :",num1)
    print("Number 2 :",num2)
    addition = num1 + num2
    
    return addition

res=[add(2,4)]
print(res.extend([67,56,34]))
print(res)

Number 1 : 2
Number 2 : 4
None

[6, 67, 56, 34]

# Return multiple values

In [37]:
def arithmetic(num1,num2):
    add=num1+num2
    sub=num1-num2
    multiply=num1*num2
    division=num1/num2
    # return four values
    return add, sub, multiply, division

# read four return values in four variables
a,b,c,d=arithmetic(10,2)

print("Addition:",a)
print("Subtraction:",b)
print("Multiply:",c)
print("Division:",d)

Addition: 12
Subtraction: 8
Multiply: 20
Division: 5.0

In [2]:
def arithmetic(num1,num2):
    add=num1+num2
    sub=num1-num2
    multiply=num1*num2
    division=num1/num2
    # return four values
    return add, sub, multiply, division

# read four return values in four variables
a,b,c,d=arithmetic(88,11)

print("Addition:",a)
print("Subtraction:",b)
print("Multiply:",c)
print("Division:",d)

Addition: 99
Subtraction: 77
Multiply: 968
Division: 8.0

In [1]:
def arithmetic(num1,num2):
    add=num1+num2
    sub=num1-num2
    multiply=num1*num2
    division=num1/num2
    # return four values
    print(add, sub, multiply, division)

# read four return values in four variables
a,b,c,d=arithmetic(88,11)

print("Addition:",a)
print("Subtraction:",b)
print("Multiply:",c)
print("Division:",d)

99 77 968 8.0

TypeError: cannot unpack non-iterable NoneType object

In [4]:
def arithmetic(num1,num2):
    add=num1+num2
    sub=num1-num2
    multiply=num1*num2
    division=num1/num2
    # return four values
    print(add, sub, multiply, division)

# read four return values in four variables
arithmetic(88,11)

99 77 968 8.0

In [5]:
def arithmetic(num1,num2):
    add=num1+num2
    sub=num1-num2
    multiply=num1*num2
    division=num1/num2
    # return four values
    return add, sub, multiply, division

# read four return values in four variables
a,b,c,d=arithmetic(88,11)

print("Addition:",a)
print("Subtraction:",b)
print("Multiply:",c)
print("Division:",d)

Addition: 99
Subtraction: 77
Multiply: 968
Division: 8.0

In [6]:
a+45

144

In [7]:
b-23

54

In [8]:
c*3

2904

In [9]:
d/2

4.0

# The pass statement
In python the pass is the keyword, which won't do anything. Sometimes there is a situation where we need to define a syntactically empty block. We can define that block using the pass keyword.

When the interpreter finds a pass statement in the python, it return no operation.

In [ ]:
def addition(num1, num2):

In [19]:
def arithmetic(num1,num2):
    pass
    add=num1+num2
    sub=num1-num2
    multiply=num1*num2
    division=num1/num2
    # return four values
    return add, sub, multiply, division

# read four return values in four variables
pass
a,b,c,d=arithmetic(88,11)

print("Addition:",a)
print("Subtraction:",b)
print("Multiply:",c)
print("Division:",d)
pass

Addition: 99
Subtraction: 77
Multiply: 968
Division: 8.0

In [1]:
def arithmetic(num1,num2):
    pass
    add=num1+num2
    sub=num1-num2
    multiply=num1*num2
    division=num1/num2
    # return four values
    return add, sub, multiply, division

# read four return values in four variables
pass
a,b,c,d=arithmetic(88,11)
pass
print("Addition:",a)
print("Subtraction:",b)
print("Multiply:",c)
print("Division:",d)

Addition: 99
Subtraction: 77
Multiply: 968
Division: 8.0

# Scope and Lifetime of Variable
When we define a function with variable then those variables scope is limited to that function . In python the scope of a variable is an area where a variable is declared. it is called the variable's local scope.

# Local variable in function
A local variable is a variable declared inside the function that is not accessible from outside of the function. The scope of the local variable is limited to that function only where it is declared.

If we try to access the local variable from the outside of the function, we will get the error as nameError.

In [21]:
def function1():
    # local variable 
    loc_var=888
    print("value is", loc_var)

def function2():
    print("value is", loc_var)

function1()
function2()

value is 888

NameError: name 'loc_var' is not defined

In [1]:
def add1():
    a=343
    print("vlue is ",a)

def add2():
    print("vlue is ",a)

add1()
add2()

vlue is  343

NameError: name 'a' is not defined

# Nonlocal variable in function
in python, nonlocal variable is the variable is the keyword used to declared a variable so that if acts as a globle variable for a nested function(i.e., function within another function)

we can use nonlocal keyword when we want to declare a variable in the local scope and to make it by nonlocal keyword global variable.

example

In [2]:
def outer_func():
    x=777
    def inner_func():
        # local variable now acts as globle variable
        nonlocal x
        x=200
        print('value of x inside inner function is :',x)

    inner_func()
    print('value of x inside outer function is :',x)

outer_func()

value of x inside inner function is : 200
value of x inside outer function is : 200

In [4]:
def add(num1, num2):
    addition=num1+num2
    print("addition:",addition)

def a(a,b):
    ab=a+b
    print("ab:",addition)

add(23,45)
a(1,2)

addition: 68

NameError: name 'addition' is not defined

### Global Variable in Function
A Global variable is a variable that declares outside of the function. The scope of a global variable is broad. It is accessible in all functions of the same module.

Example

In [5]:
global_var =999
def function1():
    print("Value in 1st function :", global_var)

def function2():
    print("Value in 2nd function :", global_var)

function1()
function2()

Value in 1st function : 999
Value in 2nd function : 999

In [6]:
global_var = 89+56
def function1(a,b):
    add=a+b
    print("Value in 1st function :", global_var)

def function2(c,d):
    sub=c-d
    print("Value in 2nd function :", global_var)

function1(12,23)
function2(65,23)

Value in 1st function : 145
Value in 2nd function : 145

In [ ]:
global_var = 89+56
def function1(a,b):
    add=a+b
    print("Value in 1st function :", global_var)

def function2(c,d):
    sub=c-d
    print("Value in 2nd function :", global_var)

function1(12,23)
function2(65,23)

In [10]:
global_var = 89+56
def function1(a,b):
    add=a+b
    print(add)
    print("Value in 1st function :", global_var)

def function2(c,d):
    sub=c-d
    print(sub)
    print("Value in 2nd function :", global_var)

function1(12,23)
function2(65,23)

35
Value in 1st function : 145
42
Value in 2nd function : 145

In [13]:
global_var = 56+56
a=45+45
def function1():
    print("Value in 1st function :", global_var+a)

def function2():
    print("Value in 2nd function :", global_var)

function1()
function2()

Value in 1st function : 202
Value in 2nd function : 112

In [14]:

def function1():
    print("Value in 1st function :", global_var+a)

def function2():
    print("Value in 2nd function :", global_var)

global_var = 56+56
a=45+45
function1()
function2()

Value in 1st function : 202
Value in 2nd function : 112

In [3]:
global_var = 56+56
a=45+45
global_var1 = global_var * a
def function1():
    print("Value in 1st function :", global_var1)

def function2():
    print("Value in 2nd function :", global_var)

function1()
function2()

Value in 1st function : 10080
Value in 2nd function : 112

In [4]:

def function1():
    print("Value in 1st function :", global_var1)

def function2():
    print("Value in 2nd function :", global_var)

function1()
function2()
global_var = 56+56
a=45+45
global_var1 = global_var * a

Value in 1st function : 10080
Value in 2nd function : 112

In [1]:
 def add(x1,x2):
     x=x1+x2
     print(x)

def add(x1,x2):
    print(x)

add(x1,x2)

NameError: name 'x1' is not defined

In [2]:
 def add(x1,x2):
     x=x1+x2
     print(x)

def add(x1,x2):
    print(x)

add(1,2)

NameError: name 'x' is not defined

In [6]:

def function1(x1,x2):
    x=x1+x2
    print(x)

    def function2(x1,x2):
        nonlocal x
    

    function2(2,5)
    print(x)
function1(2,6)

8
8

In [5]:

def function1(a,b):
    x=777
    

    def function2(a,b):
       nonlocal x
       x=a+b
       print(x)
    function2(2,6)
    print(x)
function1(4,6)

8
8

In [16]:
def outer():
    x=777

    def middle():
        nonlocal x
        x=700

        def inner():
            nonlocal x
            x=888
            print(x)
        inner()
    middle()        
outer()

888

In [4]:
def outer():
    x=777
    print(x)
    def middle():
        nonlocal x
        x=700

        def inner():
            nonlocal x
            x=888
            print(x)
        inner()
        print(x)
    middle()
    print(x)
outer()

777
888
888
888

In [6]:
def outer_func(a,b):
    x=777
    def inner_func(a,b):
        # local variable now acts as globle variable
        nonlocal x
        x=a+b
        print('value of x inside inner function is :',x)

    inner_func(2,6)
    print('value of x inside outer function is :',x)

outer_func(4,6)

value of x inside inner function is : 8
value of x inside outer function is : 8

In [1]:

def function1(a,b):
    x=777
    

    def function2(a,b):
       nonlocal x
       x=a+b
       print(x)
    function2(2,6)
    print(x)
    function1(4,6)

In [13]:

def function1(a,b):
    x=a+b
    print(x)

    def function2(a,b):
       nonlocal x
       x=a+b
       print(x)
    function2(2,6)
    print(x)
function1(4,6)

10
8
8

In [1]:

def function1(a,b):
    x=a+b
    print(x)

    def function2(a,b):
       nonlocal x
       x=a+b
       print(x)
    function2(2,6)
    print(x)
function1(4,6)

10
8
8

In [2]:
a=35
def add():
    print(a+100)

def add1():
    print(a)

add()
add1()

135
35

In [7]:
x=x1+x2
def add(x1,x2):
    x=x1+x2
    print(x)

def add1(x1,x2):
    x=x1+x2
    print(x)

add(5,6)
add1(7,8)

15

In [28]:
a=12
b=23
global_var = a+b
def function1(a,b):
    
    print("Value in 1st function :", global_var)

def function2(a,b):
    
    print("Value in 2nd function :", global_var)

function1(12,23)
function2(12,23)

Value in 1st function : 35
Value in 2nd function : 35

In [22]:
a=int(input())
b=int(input())
global_var = a+b
def function1():

    
    print("Value in 1st function :", global_var)

def function2():
    
    print("Value in 2nd function :", global_var)

function1()
function2()

 56
 23

Value in 1st function : 79
Value in 2nd function : 79

In [29]:
a=int(input())
b=int(input())
global_var = a+b
def function1():

    
    print("Value in 1st function :", global_var)

def function2():
    
    print("Value in 2nd function :", global_var)

function1()
function2()

 56
 89

Value in 1st function : 145
Value in 2nd function : 145

In [34]:
def fun(x1,x2):
    x=x1+x2
    print(x)
    def fun1(x1,x2):
        nonlocal x
        x=x1+x2
        print(x)

    fun1(12,15)
fun(34,56)

90
27

In [33]:
s=26 
def a():
    print(s*4)
    def a1():
        print(s//3)
    a1()
a()

104
8

In [40]:
def fun(x1,x2):
    x=x1-x2
    
    def fun1(x1,x2):
        nonlocal x
        x=x1+x2
        print(x)

    fun1(12,15)
    print(x)
fun(34,56)
print(x)

27
27
15

### Python Function Arguments
The argument is a value , a variable, or an objects that we pass to a function or method call. In Python, there are four types of arguments allowed.

- Positional arguments
- Keyword arguments
- default arguments
- Variable-length arguments

### positional Arguments
Positional arguments are that are pass to function in proper positional order. That is, the 1st positional argument needs to be 1st when the function is called. The 2nd positional argument needs to be 2nd when the function is called, etc. See the following example for more understanding.

In [6]:
def add(a,b):
    print(a-b)

add(50,10) # output 40
add(10,50) #output -40

40
-40

### Keyword Arguments
A keyword argument is an argument value, passed to function preceded by the variable name and an equals sign.

In [1]:
def message(name, surname):
    print("Hello", name, surname)

message(name="Suryansh",surname="Joshi")
message(name="Disha",surname="Chaudhary")
message("John","wilson") # you have made it positional

Hello Suryansh Joshi
Hello Disha Chaudhary
Hello John wilson

### Default Arguments
In a function, arguments can have default values. We assign default values to the arguments using the "="(assignment operator) at the time of function definition. you can define a function with any number of default arguments.

In [6]:
def message(name=Disha, surname=eddy):
    print("Hello", name, surname)

message()

NameError: name 'Disha' is not defined

In [20]:
def message(name="Disha",surname):
    print("Hello", name, surname)

message(name="Disha","Chaudhary")

SyntaxError: non-default argument follows default argument (3775716507.py, line 1)

In [7]:
def my_sum(a,b,c,d=40):
    return a+b+c+d

my_sum(10,20,c=30)

100

In [23]:
def message(name="Disha", surname):
    return  name + surname
message(name="Disha","eddy")

SyntaxError: non-default argument follows default argument (2763768479.py, line 1)

In [10]:
def my_sum(a,b,c,d=40):
    print(a+b+c+d)

my_sum(10,20,c=30)

100

In [22]:
def message(surname,name="Disha"):
    print("Hello", name, surname)

message("Chaudhary",name="Disha")

Hello Disha Chaudhary

In [24]:
def add(surname,name="chandra"):
    print(name,surname)

add("mani" , name="chandra")

chandra mani

In [4]:
print("creating a program of calculator")
a=int(input("enter 1st number:"))
b=int(input("enter 2nd number:"))
c=input("operator")
def calculator(a,b):
    if c=="+":
        sum=a+b
    elif c=="-":
        sum=a-b or b-a
    elif c=="*":
        sum=a*b
    elif c=="/":
        div=a/b or b/a
    else:
        print("wrong")
    print("Result:",sum)
calculator(22,56)

creating a program of calculator

enter 1st number: 56
enter 2nd number: 28
operator /

UnboundLocalError: cannot access local variable 'sum' where it is not associated with a value

In [2]:
import math

def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error! Division by zero."
    else:
        return x / y

def power(x, y):
    return x ** y

def square_root(x):
    if x < 0:
        return "Error! Cannot compute square root of a negative number."
    else:
        return math.sqrt(x)

def factorial(x):
    if x < 0:
        return "Error! Cannot compute factorial of a negative number."
    elif x == 0:
        return 1
    else:
        return x * factorial(x - 1)

def main():
    print("Welcome to the Python Scientific Calculator!")
    print("Operations:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")
    print("5. Power")
    print("6. Square Root")
    print("7. Factorial")
    print("0. Exit")

    choice = input("Enter operation number: ")

    if choice == '0':
        print("Exiting calculator. Goodbye!")

    elif choice in ('1', '2', '3', '4', '5'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print("Result:", add(num1, num2))
        elif choice == '2':
            print("Result:", subtract(num1, num2))
        elif choice == '3':
            print("Result:", multiply(num1, num2))
        elif choice == '4':
            print("Result:", divide(num1, num2))
        elif choice == '5':
            print("Result:", power(num1, num2))

    elif choice == '6':
        num = float(input("Enter number: "))
        print("Result:", square_root(num))

    elif choice == '7':
        num = int(input("Enter number: "))
        print("Result:", factorial(num))

    else:
        print("Invalid input. Please enter a valid operation number.")

if __name__ == "__main__":
    main()

Welcome to the Python Scientific Calculator!
Operations:
1. Add
2. Subtract
3. Multiply
4. Divide
5. Power
6. Square Root
7. Factorial
0. Exit

Enter operation number:  5
Enter first number:  56
Enter second number:  45

Result: 4.660808027410506e+78

In [5]:
list_spices=['cumin','coriander','turmeric','cardamom','cinnamon','mustard seed','fenugreek','garam masala']
list_pickle=['amla pickle','assorted pickle','carrot pickle','garlic pickle','lemon pickle']
list_vegetable=['beetroot','black-eyed been','broad beans','carrot','garlic','green beans','mushrooms','onions','peas','potato','cabage']
list_rice=['arboric rice','basmati rice','black rice','bomba rice','brown rice','jasmine rice','sticky rice','sishi rice']
list_pulses=['masoor dal','moong dal','urad dal','toor dal','chana dal','rajma','arhar dal','green gram']
list_salt=['sea salt','black salt','flake salt','himalayan salt','smoked salt']
list_ghee=['motherdairy','anchal ghee','ananda ghee']
list_oil=['musterd oli','soya oli','refine']
list_ghee=set(list_ghee)
list_oil=set(list_oil)
list_oil.symmetric_difference(list_ghee)

{'ananda ghee',
 'anchal ghee',
 'motherdairy',
 'musterd oli',
 'refine',
 'soya oli'}

In [2]:
def classify_animal(animal_name):
    animal_name = animal_name.lower() 
    if animal_name in ["dog", "cat", "elephant", "tiger", "human"]:
        return "mammal"
    elif animal_name in ["sparrow", "eagle", "parrot", "penguin"]:
        return "bird"
    elif animal_name in ["snake", "lizard", "crocodile", "turtle"]:
        return "reptile"
    elif animal_name in ["frog", "salamander", "newt"]:
        return "amphibian"
    elif animal_name in ["shark", "salmon", "goldfish"]:
        return "fish"
    else:
        return "unknown"

def characteristics(category):
    if category == "mammal":
        return "Mammals are warm-blooded vertebrates that have hair or fur and most give live birth."
    elif category == "bird":
        return "Birds are warm-blooded vertebrates with feathers, wings, and beaks. Most can fly."
    elif category == "reptile":
        return "Reptiles are cold-blooded vertebrates that have scales and lay eggs."
    elif category == "amphibian":
        return "Amphibians are cold-blooded vertebrates that live both in water and on land."
    elif category == "fish":
        return "Fish are cold-blooded vertebrates that live in water and have gills, fins, and scales."
    else:
        return "Unknown category. This animal is not in our database."

def main():
    
        animal = input("Enter the name of an animal : ")
        category = classify_animal(animal)
        print(f"The {animal} is a {category}.")
        print(characteristics(category))
        print() 

if __name__ == "__main__":
    main()

Enter the name of an animal :  dragon

The dragon is a unknown.
Unknown category. This animal is not in our database.