# List-
Lists are a versatile and commonly used data type. they have several properties for various tasks.

#### Mutable = 
lists are mutable which means you can modify their elements after their creation. you can add,remove or change elements in a lists.

#### Ordered=
lists maintain the order of elements meaning the elements are stored in the same order as they are added.

#### Duplicates=
lists can hold elements. you can have multiple occurance of the same value in a list

#### Heterogevous=
list can hold element of different data types. you can have integers,float,or even other lists as element in the list.

#### interable=
- iterable: in python an interable refers to an object that can be iterate over meaning you can loop through its element one by one. interable are a fundamental concept in python's iteraction protocol and they are used in various contexts where you need to process elements sequentially such as in loop and comprehension expressions example of built in python iterable include list,tuples,strings,dicitionaries (when iterating over keys values and iteams set,and more.

In [5]:
# list 
# list is always in square bracket
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]

#### append:
append(element):adds an element to the end of the list.

In [6]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]
my_list.append("robin sharma")
print(my_list)

[5, 8, 'geoffy hinston', 7.5, 'sam altman', 'robin sharma']

In [13]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"] # so thats mens append takes one argument if you put 2 its gave error
my_list.append("robin sharma","mega living")
print(my_list)

TypeError: list.append() takes exactly one argument (2 given)

In [14]:
# if we want to get more element in the list using append.
my_list = [5,8,"geoffy hinston",7.5,"sam altman"] # we append a list,therefore its gave seperste list in the end of the list
my_list.append(["robin sharma","mega living",89,90])
print(my_list)

[5, 8, 'geoffy hinston', 7.5, 'sam altman', ['robin sharma', 'mega living', 89, 90]]

#### extend:
extend(interable):appends element from an interable to the end of the list.
the extend method will accept the list in  element and add them at the end of the list. We can even add another list by using this method.

In [15]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"] # extend append element from the list to the end of the list.
my_list.extend(["robin sharma","mega living",89,90])
print(my_list)

[5, 8, 'geoffy hinston', 7.5, 'sam altman', 'robin sharma', 'mega living', 89, 90]

In [16]:
# when we will applay extend method to add any data type in a list the outcome,
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]# will be a list having all the data types gaving seprately
my_list.extend("robin sharma")                   #in the list.
print(my_list)

[5, 8, 'geoffy hinston', 7.5, 'sam altman', 'r', 'o', 'b', 'i', 'n', ' ', 's', 'h', 'a', 'r', 'm', 'a']

In [17]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]# so thats means extend takes one argument if you put 2 its gave error
my_list.extend("robin sharma","mega living",89,90)
print(my_list)

TypeError: list.extend() takes exactly one argument (4 given)

#### insert:
insert(insdex,element):insert an element at a specific index in the list

In [20]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]# its add a new element in the index number.
my_list.insert(0,4) # 4 in index number 0 
print(my_list)

[4, 5, 8, 'geoffy hinston', 7.5, 'sam altman']

In [26]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]# insert allow 2 argument if we put more and less than 2 its gave error.
my_list.insert(0,8,3)
print(my_list)

TypeError: insert expected 2 arguments, got 3

In [28]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]# insert also add another list in the index number.
my_list.insert(2,["robin sharma","mega living"])
print(my_list)

[5, 8, ['robin sharma', 'mega living'], 'geoffy hinston', 7.5, 'sam altman']

#### remove:
remove(element):removes the first occurance of the specified element from the list

In [42]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]
my_list.remove("sam altman")# to remove sam altman fom the list.
print(my_list)

[5, 8, 'geoffy hinston', 7.5]

In [43]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]# remove also allowed only one argument than error.
my_list.remove("sam altman",5)
print(my_list)

TypeError: list.remove() takes exactly one argument (2 given)

In [44]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"] # if we put empty its gave error because its takes exactly one argument.
my_list.remove()
print(my_list)

TypeError: list.remove() takes exactly one argument (0 given)

#### pop(index):
pop(index):removes the element of the specified index from the list

In [1]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"] # its remove by the index number 
my_list.pop(0)
print(my_list)

[8, 'geoffy hinston', 7.5, 'sam altman']

In [46]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]
my_list.pop() # if we put empty so its remove the last element of the list.
print(my_list)

[5, 8, 'geoffy hinston', 7.5]

In [48]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"] # pop also allow one argument if gave 2 its gave error
my_list.pop(0,3)
print(my_list)

TypeError: pop expected at most 1 argument, got 2

#### clear()
remove all items of the list

In [3]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"] 
my_list.clear()
print(my_list)

[]

#### delete list
del list : delete intire list

In [2]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"] 
del my_list

In [2]:
print(my_list) # its comes error because my_list is deleted

NameError: name 'my_list' is not defined

In [ ]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]
del my_list[1:4]
print(my_list)

#### index:
index(element):return the index of the first occurance of the specified elements.

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9,10]
my_list.index(5)

#### count:
count(element):return the number of occurance of the supecified elements in the list.

In [ ]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman",7.5,7.5]#its count the element how many times does the element are in the list.
my_list.count(7.5)

In [ ]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]# count takes one argument if we gave 2 its gave error
my_list.count(5,8)

#### sort
sort():sort the list in ascending order.

In [100]:
my_list=[3,5,7,9,8,6,4,2,0,1]
my_list.sort()
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
my_list = ["harry styles","geoffy hinston","sam altman"]
my_list.sort()    # its also work in string from ascending order
print(my_list)

['geoffy hinston', 'harry styles', 'sam altman']

In [6]:
my_list=[3,5,7,9,8,6,4,2,0,1]
sorted(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### reverse()
reverse the order of the element in the list.

In [107]:
my_list=[1,2,3,4,5,6,7,8,9]
my_list.reverse()
print(my_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

#### copy
copy():return the shallow copy of the list

In [113]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]
print(id(my_list))
x=my_list
print(x)
print(id(x))# here the id is same of the list where we gave another variable because its mutable data type.

1898409437248
[5, 8, 'geoffy hinston', 7.5, 'sam altman']
1898409437248

In [1]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]
print(id(my_list)) 
x=my_list.copy()
print(x)
print(id(x))# here we copy the list so its make another list so the id is change

2479680681792
[5, 8, 'geoffy hinston', 7.5, 'sam altman']
2479680683008

#### some more methods 
- len():print length of thge list
- max():print max valse of the list
- min():print min value of the list
- sum():print the whole add of the list

In [2]:
my_list=[0,1,2,3,4,5,6,7,8,9]
print(len(my_list))
print(max(my_list))
print(min(my_list))
print(sum(my_list))

10
9
0
45

#### nested list
all list in one list is called nested list.

In [3]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,0]
list3=[10,11,12,13]
nested_list=[list1,list2,list3]
print("nested list=",nested_list)
print(type(nested_list))
print(len(nested_list))

nested list= [[1, 2, 3, 4, 5], [6, 7, 8, 9, 0], [10, 11, 12, 13]]
<class 'list'>
3

## list slicing 
in python,list slicing allows you to extract a portion of a list by specifying start,stop,and step valuse within square bracket.
- list[start:stop:step]

In [5]:
# sinding the element with the index number
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]
my_list[4]

'sam altman'

In [7]:
# basic slicing
my_list=[1,2,3,4,5,6,7,8,9,10]
my_list[2:8]# its slice index number 2 to 8 like 3,4,5,6,7,8 to 8 its does not take last its take second last.

[3, 4, 5, 6, 7, 8]

In [8]:
# slicing with step
my_list=[10,20,30,40,50,60,70,80,90,100]# first its go to index 1 then to index 9 and takes step of 2.
my_list[1:9:2]

[20, 40, 60, 80]

In [14]:
# start and end with slicing 
my_list=['a','b','c','d','e','f','g','h','i','j']
x=my_list[:5]
y=my_list[5:]
print(x)
print(y)

['a', 'b', 'c', 'd', 'e']
['f', 'g', 'h', 'i', 'j']

In [21]:
# negative indexing
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]
my_list[-4:-1]

[8, 'geoffy hinston', 7.5]

In [22]:
# reversing a list
my_list=['a','b','c','d','e','f','g','h','i','j']
my_list[::-1]

['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [26]:
my_list=['a','b','c','d','e','f','g','h','i','j']
my_list[0::]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [4]:
# slicing nested list
nested_list=[[1,2,3],['a','b','c'],['@','#','$']]
nested_list[0]

[1, 2, 3]

In [1]:
my_list = [5,8,"geoffy hinston",7.5,"sam altman"]
my_list[2][4]# so items indexing also of string alphabests

'f'