In [ ]:
x=set({})
type(x)

set

In [ ]:
x=set()
type(x)

set

In [ ]:
x={1,2,3,3,4,5}
print(x)

{1, 2, 3, 4, 5}

In [ ]:
x={1,2,3}
x.add(3) # in uniqe set duplicate character not allow
print(x)

{1, 2, 3}

In [ ]:
x.add(4)
print(x) #to add uniqe number to a set

{1, 2, 3, 4}

In [ ]:
x.add([3]) #in set list not allow
print(x)

TypeError: unhashable type: 'list'

In [ ]:
x={1,2,3}
x.difference(x)
print(x)

{1, 2, 3}

In [ ]:
x.update(x)
print(x)

{1, 2, 3}

In [ ]:
x={1,2,3} # only taking argument
x.update([4,5])
x

{1, 2, 3, 4, 5}

In [ ]:
x.update((6,7)) # update method i s aset data type in which the add only iterable data will give. eg LSD,Tuple,str.
x

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
x.remove(3)
x

{1, 2, 4, 5, 6, 7}

In [ ]:
x.remove(x[0]) # in set indexing not allowed
x

TypeError: 'set' object is not subscriptable

In [ ]:
x.remove(0) # when the element not exist then it show error
x

KeyError: 0

In [ ]:
x={1,2,3,4}
x.discard(2)
x

{1, 3, 4}

In [ ]:
x.discard(1,3)
x

TypeError: set.discard() takes exactly one argument (2 given)

In [ ]:
x.discard(0) # if the element not exist in set then the value of the variable is to be the present in set
x

{1, 3, 4}

In [3]:
x={1,2,3,4} # in only data print not operation
print(x.remove(1))

None

In [ ]:
x

{2, 3, 4}

In [ ]:
x.clear()
x

set()

In [ ]:
x={1,2,3,4}
x.remove((((2))))
x

{1, 3, 4}

In [ ]:
x.remove((((((((((((((((((((((((((((((((((((((((((((((((((3))))))))))))))))))))))))))))))))))))))))))))))))))
x

{1, 4}

In [ ]:
x(x.remove(1))
print(x)

TypeError: 'set' object is not callable

In [ ]:
x=(x.remove(1))
print(x)

KeyError: 1

In [ ]:
y=x.remove(1)
print(x)

KeyError: 1

In [ ]:
y={4,3,5}
y.sort()

AttributeError: 'set' object has no attribute 'sort'

In [4]:
x={1,2,3}
y={4,3,5}
v=x.union(y)
print(x)

{1, 2, 3}

In [ ]:
print(x.union(y)) # in union method the data are merge

{1, 2, 3, 4, 5}

In [ ]:
x.union(y)

{1, 2, 3, 4, 5}

In [ ]:
x.intersection(y) # in intersection the common value is print

{3}

In [ ]:
x.difference(y) # ih difference method the value present in first set and also remove the intersection value

{1, 2}

In [ ]:
y.difference(x)

{4, 5}

In [ ]:
x.symmetric_difference(y) # in symmetric difference only intersection part will remove

{1, 2, 4, 5}

In [ ]:
x={1:1,0:0}
all(x)

False

In [ ]:
x={'a':1,'b':2}
all(x)

True

In [ ]:
any(x)

True

In [ ]:
x=[10,20,30,40,50]
print(id(x))
x[2:4]=[70,80,90]
print(x)
print(id(x))

140712097140672
[10, 20, 70, 80, 90, 50]
140712097140672

In [ ]:
x=[10,20,30,40,50]
print(id(x))
x[2:4]=[60,70,80,90] # without using any method to update a list.
print(x)
print(id(x))

140712385788992
[10, 20, 60, 70, 80, 90, 50]
140712385788992

In [ ]:
y=[70,80,90]
x=[10,20,30,40,50]
print(id(x))
x[2:4]=y
print(x)
print(id(x))

140711248072384
[10, 20, 70, 80, 90, 50]
140711248072384

In [ ]:
x=[10,20,30,40,50]
y=[70,80,90]
x=x+y
print(x)

[10, 20, 30, 40, 50, 70, 80, 90]

In [ ]:
print(id(x))
print(id(y))

140711247010368
140711247010432

In [ ]:
x=+y
print(x)

TypeError: bad operand type for unary +: 'list'

In [ ]:
x+=y
print(x)

[10, 20, 30, 40, 50, 70, 80, 90, 70, 80, 90]

In [ ]:
x={1,2,3,4}
y={6,7,8,4}
print(x.intersection(y)) # it will print the similar element from the both set

{4}

In [ ]:
print(x)
print(id(x))

{1, 2, 3, 4}
140711247993024

In [ ]:
print(x.intersection_update(y)) # it will remove element from the set which we not desired
print(x)
print(id(x))

None
{4}
140711247996384

In [ ]:
x=[11,[22,33],45,55]
x[1][0]=343
print(x)

[11, [343, 33], 45, 55]

In [ ]:
x={1,2,3,4,5,6}
y={9,5,4,8}
x.difference_update(y) # in difference update the intersection
print(x)

{1, 2, 3, 6}

In [ ]:
print(x.difference_update(y)) # in this the operation is going on

None

In [ ]:
x.clear()
print

set()

In [ ]:
del x
print(x)

NameError: name 'x' is not defined

In [ ]:
x={1,2,3,4,5,6}
y={9,5,4,8}
x,y

({1, 2, 3, 4, 5, 6}, {4, 5, 8, 9})

In [ ]:
x.difference_update(y)
print(x)

{1, 2, 3, 6}

In [ ]:
x.symmetric_difference(y)
print(x)

{1, 2, 3, 4, 5, 6}

In [ ]:
x.issubset(y)

False

In [ ]:
x={1,2,3,4,5}
y={1,2}
x.issuperset(y)

True

In [ ]:
x.isdisjoint(y)

False

In [ ]:
x={[]} # in set data the element are immutable.so the list is mutable data type it can not be exist in set
print(x)

TypeError: unhashable type: 'list'

In [ ]:
x={1,2,3}
x.update(5)
x

TypeError: 'int' object is not iterable

In [ ]:
x =5,5
type(x)

tuple

In [ ]:
x=[1,2]
x=x+[3]
print(x)

[1, 2, 3]

In [ ]:
x={[]}
print(x)

TypeError: unhashable type: 'list'

In [ ]:
type(x)

NameError: name 'x' is not defined